<div class="main">
  <div class="header">
    <h1>{{title }}</h1>
    <p>
      <strong>Simply UnCSS your styles online!</strong>
    </p>
  </div>
  <h3>Usage:</h3>
  <ul>
    <li>Copy and paste your HTML and CSS into boxes below</li>
    <li>Click button</li>
    <li>Wait for magic to happen</li>
    <li>Now unused CSS <a href="https://www.youtube.com/watch?v=DgS4DD0CgHs" target="_blank">is gone</a>, take and use the rest!</li>
  </ul>

  <div class="error" {{#unless error}}hidden{{/unless}}>
    <h5 class="error-name">{{error.name}}</h5>
    <div class="error-message">
      {{error.message}}
    </div>
  </div>

  <form id="uncss-form" action="/uncss" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="column">
        <label for="inputHtml">Your HTML</label>
        <textarea placeholder="Insert your HTML here" rows="20" name="inputHtml" id="inputHtml">{{inputHtml}}</textarea>
      </div>
      <div class="column">
        <label for="inputCss">Your CSS</label>
        <textarea placeholder="Insert your CSS here" rows="20" name="inputCss" id="inputCss">{{inputCss}}</textarea>
      </div>
    </div>
    <div class="text-center">
      <button class="button button-large" type="submit">UnCSS my styles!</button>
    </div>
  </form>
  <div class="row">
    <div class="column column-80 column-offset-10">
      <label for="outputCss">Your shortened CSS!</label>
      <textarea placeholder="Take your shortened CSS and use it!" rows="20" name="outputCss" id="outputCss" readonly>{{outputCss}}</textarea>
    </div>
  </div>

  <h3>Advanced usage</h3>
  <p>
    For advanced options please consider adding UnCSS to your devstack - <a href="https://github.com/ben-eb/gulp-uncss">Gulp</a>, <a href="https://github.com/addyosmani/grunt-uncss">Grunt</a>, <a href="https://github.com/RyanZim/postcss-uncss">PostCSS</a>.
  </p>
</div>
<div class="footer clearfix">
  <span class="float-left"><a href="https://github.com/pajasevi/UnCSS-Online">Github</a> | <a href="https://github.com/giakki/uncss">UnCSS</a></span>
  <span class="float-right">Made with &hearts; by <a href="https://twitter.com/pajasevi" target="_blank">@pajasevi</a></span>
</div>
